<div class="search-genres">
  <%= select_tag 'genres',
                 options_for_select(all_genres),
                 include_blank: true,
                 class: 'chosen-select genres-name',
                 data: {placeholder: 'Select a genre'}
  %>
</div>
