<% @filtered_events.each do |event| -%>
    <div class="card">
      <%= link_to event_path(event.id), class: 'card1' do %>
          <div class="textLeft card-text"><%= event.title %> </div>
      <% end %>
      <div class="event-description">
        <%= event.description %>
      </div>
    </div>
<% end %>
